



@media(min-width:768px) {
    #nav-side-menu {
        background-color: darkred;
        position: fixed;
        right: 0;
        min-height: 100%;
    }

    #navbarContents {
        padding-top: 200%;
        alignment: center;
    }

    #nameText{
        padding-right: 30%;
    }

    li {
        list-style-type: none;
    }

    #welcomeHeader {
    padding-top: 30%;

    }

    #intro\ text {
        padding-right: 20%;
    }
}

@media(max-width:768px){
    #nav-side-menu{
        background-color: darkred;
        max-height:30%;
        overflow:hidden;
    }

    #welcomeMessage{
        padding-top:10%;
        text-align:center;
        height:30%;
    }


    li {
        list-style-type: none;
        text-align: center;
    }

}


a {
    color: white;
}

@media all and (max-width: 768px) {
    body {
        font-size: 0.8em;
    }
}





