<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
        <div id = "nav-side-menu" class="col-xs-12 col-md-2 order-xs-1">
            <div id="navbarContents">
                <ul>
                    <li>
                        <h5>
                            <a href="http://127.0.0.1:5000/#" id = "nameText"><b>Tyler Scheffler</b></a>
                        </h5>
                    </li>

                    <li>
                        <i class="fas fa-question"></i><a href="http://127.0.0.1:5000/#" id = "home"> About Me</a>
                    </li>
                    <li>
                        <i class="fas fa-user-edit"></i><a href="http://127.0.0.1:5000/projects">Projects</a>
                    </li>
                    <li>
                        <i class="fab fa-gitlab"></i><a href="https://gitlab.com/Copyrighted"> Gitlab</a>
                    </li>
                    <li>
                        <i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/tscheff/"> Resume</a>
                    </li>
                </ul>
            </div>
        </div>
</body>
</html>