{% extends "base.html" %}

{% block header %}
    {{ super() }}
    <title>Schef Dashboard</title>
{% endblock %}


{% block content %}
<div class="container">
<div class="col-sm-2 mb-2 mt-4">
    <a class="btn btn-primary" href="http://localhost:5000/publish_post" role="button">Publish Post</a>
</div>
<div class="row justify-content-center table-responsive">
<table class="table table-bordered table-hover table-auto mt-3">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Date Posted</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
        <tr>
            <td>
                {{ post[1] }}
            </td>
            <td>
                {{ post[3].date() }}
            </td>
            <td class="w-25">
                <form method="POST" action="{{ url_for('delete_post', id=post[0])}}">
                    {{ delete_form.hidden_tag() }}
                     <input type="submit" class="btn btn-danger" value="Remove Post" role="button">
                </form>
            </td>
            <td>
                <a class="btn btn-primary" href="http://localhost:5000/edit/{{ post[0] }}" role="button">Edit Post</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}

{% block navbar %}
{% endblock %}
