{% extends "base.html" %}

{% block header %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/index.css') }}">
    <title>SchefBlog</title>
{% endblock %}



{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="welcomeMessage" class = "col-xs-8 offset-xs-2 col-md-8 offset-md-2 order-2">
            <h1 id = "welcomeHeader"><b> Welcome to my site! </b></h1>
            <p id = "intro text">
                You're at Tyler Scheffler's Computer Science/Software Engineering blog.
                <br />
                <br />
                Recent graduate of Computer Science from WSU.
                I started this blog to write about projects and CS topics.

            </p>
        </div>
        </div>
</div>
{% endblock %}




{% block footer %}
    {{ super() }}
{% endblock %}