<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/post_content.css') }}">
    <title>SchefBlog</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="welcomeMessage" class="col-xs-8 offset-xs-2 col-md-8 offset-md-2 order-2">
            <h1 id="welcomeHeader"><b> {{ post_title }} </b></h1>
            <p id="intro text">
                Posted: {{ post_timestamp }}
                {{ post_body|markdown }}

            </p>
        </div>
    {% endblock %}
    </div>
</div>
</body>
</html>