 {% extends "base.html" %}

    {% block header %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/projects.css') }}">
        {{ super() }}
        <title>SchefBlog</title>
    {% endblock %}

    {% block content %}
    <div class="container-fluid">
        <div class="row">
        <div id="welcomeMessage" class = "col-xs-8 offset-xs-2 col-md-8 offset-md-2 order-2">
            <h1 id = "notesHeader"><b> Notes </b></h1>
            <p id = "year">
                <ul>
                {% for post in posts %}
                <li>{{  post|safe }}</li>
                {% endfor %}
                </ul>
            </p>
        </div>
        </div>
    </div>
    {% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}