<!doctype html>
<html lang="en">


</div>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/projects.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Spectral+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">



    <title>SchefBlog</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">



        <div id="welcomeMessage" class = "col-xs-8 offset-xs-2 col-md-8 offset-md-2 order-2">
            <h1 id = "notesHeader"><b> Notes </b></h1>
            <p id = "year">
                2019
                <br />
                <br />
            </p>
        </div>


        <div id = "nav-side-menu" class="col-xs-12 col-md-2 order-xs-1">
            <div id="navbarContents">
                <ul>
                    <li>
                        <h5>
                            <a href="http://127.0.0.1:5000/#" id = "nameText"><b>Tyler Scheffler</b></a>
                        </h5>
                    </li>

                    <li>
                        <i class="fas fa-question"></i><a href="http://127.0.0.1:5000/#" id = "home"> About Me</a>
                    </li>
                    <li>
                        <i class="fas fa-user-edit"></i><a href="http://127.0.0.1:5000/projects">Projects</a>
                    </li>
                    <li>
                        <i class="fab fa-gitlab"></i><a href="https://gitlab.com/Copyrighted"> Gitlab</a>
                    </li>
                    <li>
                        <i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/tyler-scheffler-63690352/"> Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>