<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post a post!</title>
</head>
<body>
<div>
    {% block content %}

    <h1>Hi, {{ current_user.username }}!</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label }}
        {{ form.title(size=64) }}
        <label for="summernote"></label><textarea id="summernote" name="post"></textarea>
        <p>{{ form.submit() }}</p>
    </form>
    {% endblock %}
</div>
</body>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script>
    $(document).ready(function () {
        $('#summernote').summernote();
    });
</script>
</html>