@media(min-width:768px) {
    #nav-side-menu {
        background-color: darkred;
        position: fixed;
        right: 0;
        min-height: 100%;
    }

    #navbarContents {
        padding-top: 225%;
        padding-right: 10%;
        alignment: center;
        font-size:30px;
        padding-bottom:10%;
    }

    #nameText {
        padding-right: 30%;
        font-size:35px;
        font-family: 'Spectral SC', serif;
    }

    li {
        list-style-type: none;
        font-family: 'Spectral SC', serif;
    }

    #welcomeHeader {
        padding-top: 20%;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 60px;
    }

    #intro\ text {
        padding-right: 20%;
        font-family: 'Source Sans Pro', sans-serif;
        font-size:30px;
    }

    #post-text {
        font-size:50px !important;
    }
}

@media(max-width:768px){
    #nav-side-menu{
        background-color: darkred;
        max-height:30%;
        overflow:hidden;
    }

    #welcomeMessage{
        padding-top:10%;
        text-align:center;
        height:30%;
        font-family: 'Source Sans Pro', sans-serif;
    }

    #nameText{
        font-family: 'Spectral SC', serif;
        font-size:70%;

    }

    li {
        list-style-type: none;
        text-align: center;
        font-family: 'Spectral SC', serif;
    }

}

a {
    color: white !important;
}

@media all {
    body {
        font-size: 1em;
    }
}

.fas{
    color:white;
}

.fab{
    color:white;
}




